#wrapper {
    display: flex;
}

#sidebar {
    width: 250px;
    min-height: 100vh;
}

#content {
    width: calc(100% - 250px);
    /* margin-left: 250px; */
    padding: 20px;
}


.dropdown-menu {
    transform: none !important;
    border: none;
}

.dropdown-item:hover {
    color: white;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.dropdown-item {
    padding-left: 15%;
}